:root {
  --pixelSize: 24px;
}

.canvas {
  border-collapse: collapse;
}

.canvas td {
  border: solid 1px red;
  cursor: crosshair;
  height: var(--pixelSize);
  text-align: center;
  width: var(--pixelSize);
}
