:root {
  --pixelSize: 24px;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.canvas {
  border-collapse: collapse;
}

.canvas td {
  border: solid 1px #ddd;
  cursor: crosshair;
  height: var(--pixelSize);
  text-align: center;
  width: var(--pixelSize);
}
