.panel {
  background: white;
  border: solid 1px black;
  margin: 8px;
  position: absolute;
}

.toolbar {
  border-bottom: solid 1px black;
  cursor: move;
  padding: 16px;
  width: 100%;
}

.contents {
  padding: 16px;
}
