.panel {
  border: solid 1px black;
  padding: 24px;
  width: 320px;
}

.tileList {
  list-style-type: none;
  margin: 0 0 16px 0;
  padding: 0;
}

.tileList li {
  align-items: center;
  border: solid 1px transparent;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  padding: 4px;

  &:hover {
    border-color: fuchsia;
  }
}

.active {
  color: fuchsia !important;
}

.gridContainer {
  border: solid 1px #aaa;
  display: inline-block;
  margin-right: 8px;
}

.active .gridContainer {
  border-color: fuchsia;
}
