.tileList {
  list-style-type: none;
  margin: 0 0 16px 0;
  padding: 0;
  width: 100%;
}

.tileList li {
  align-items: center;
  border: solid 1px transparent;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  padding: 4px;
  white-space: nowrap;

  &:hover {
    border-color: fuchsia;
  }
}

.active {
  color: fuchsia !important;
}

.gridContainer {
  border: solid 1px #aaa;
  display: inline-block;
  flex: none;
  margin-right: 8px;
}

.active .gridContainer {
  border-color: fuchsia;
}

.tileName {
  flex: 1 1 100%;
}
