.grid {
  border-collapse: collapse;
  display: table;
  table-layout: fixed;
}

.row {
  display: table-row;
}

.cell {
  border: solid 1px #CCC;
  cursor: crosshair;
  display: table-cell;
  height: 32px;
  width: 32px;
  padding: 0;
  margin: 0;

  &:hover {
    border-color: fuchsia;
    border-style: double;
  }
}
