:root {
  --pixelSize: 4px;
}

.canvas {
  border-collapse: collapse;
  table-layout: fixed;
}

.canvas td {
  height: var(--pixelSize);
  text-align: center;
  width: var(--pixelSize);
}

.pencil.canvas td {
  cursor: crosshair;
}

.canvas.showBorders td {
  border: solid 1px #ddd;
}
