.grid {
  margin: 16px 0;
}

.row {
  display: flex;
}

.cell {
  border: solid 0.5px #EEE;
  cursor: crosshair;
  height: 32px;
  width: 32px;

  &:hover {
    background-color: #FAFAFA;
  }
}

.placeholder {
  height: 31px;
  width: 31px;
}
