.tools {
  padding: 0 4px;
}

.tool {
  margin: 4px 0;
  width: 100%;

  &:hover {
    color: fuchsia;
  }
}

.active.tool {
  font-weight: bold;
}

.pencil.tool {
  cursor: crosshair;
}
.cursor.tool {
  cursor: default;
}
