.container {
  padding: 16px;
}

.tools {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tool {
  margin: 4px 0;
  width: 100%;
}

.tool button {
  background: none;
  cursor: pointer;
  display: block;
  outline: none;
  padding: 4px 8px;
  text-align: left;
  width: 100%;

  &:hover {
    border-color: fuchsia;
    color: fuchsia;
  }
}

.palette {
  margin: 16px 0;
}

.activePalette {
  margin: 16px 0;
  position: relative;
}

.foreground,
.background {
  border: solid 1px #000;
  height: 40px;
  width: 40px;
}

.foreground {
  border-color: fuchsia;
  left: 20px;
  position: absolute;
  top: 20px;
}
