:root {
  --h1Color: blue;
  --textColor: #454545;
}

body {
  font-family: var(--fontText);
  font-weight: 400;
}

h1 {
  font-family: var(--fontDisplay);
  font-size: 40px;
  font-weight: 700;
}

.app {
  color: var(--textColor) !important;
}

.header {
  align-items: center;
  display: flex;
  justify-content: center;
}
